---
layout: default
---

<header class="header header--xl">
  <div class="row w-100 max-width justify-center">
    <div class="col-6 p-2">
      <div class="home-logo">
        {% svg_sprite "logo", "home-logo__svg" %}
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class="home-actions">
        <div class="home-actions__container home-actions__container--primary">
          <a class="circle-button circle-button--yellow" href="https://discountsalmon.com/">
            <div class="circle-button__content">
              <div class="salmon-art">
                {% svg_sprite "salmon", "salmon-art__svg" %}
              </div>
            </div>
            <p class="circle-button__label">Visit Store</p>
          </a>
        </div>
        <div class="home-actions__container home-actions__container--secondary">
          <a class="circle-button circle-button--teal" href="/games/">
            <div class="circle-button__content">
              <div class="bee-art">
                {% svg_sprite "bee", "bee-art__svg" %}
              </div>
            </div>
            <p class="circle-button__label">Print &amp; Play</p>
          </a>
        </div>
        <div class="home-actions__container home-actions__container--ternary">
          <a class="circle-button circle-button--gray" href="/#welcome">
            <div class="circle-button__content">
              <div class="marcus-and-cara-meeples">
                {% svg_sprite "marcus-and-cara", "marcus-and-cara-meeples__svg" %}
              </div>
            </div>
            <p class="circle-button__label">Learn More</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
