<footer class="footer">
  <div class="footer__container">
    <p>&copy; {% current_year %} Water Bear Games</p>
    <p>Did we give you a <a href="/business-card/">business card</a>?</p>
  </div>
</footer>
