/* =========================================================================
   Footer
   ========================================================================= */

.footer {
  // Makes footer stick to bottom when content isn't tall enough
  position: sticky;
  top: 100%;
  padding: space(3) space(2);

  background-color: $blue;
  text-align: center;

  p {
    margin: space(1) 0;
    color: #fff;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $yellow;

    &:hover, &:focus {
      color: rgba(#fff, 0.75);
    }
  }

  @include breakpoint($size-md) {
    padding-right: space(3);
    padding-left: space(3);

    p {
      font-size: 0.875rem;
    }
  }
}
