/* =========================================================================
   Miscellaneous
   ========================================================================= */

.no-transition {
  transition: none !important;
}

%default-transition {
  transition: all 0.4s ease;
}

.relative {
  position: relative;
}
