---
layout: default
---

<header class="header header--{{ page.fileSlug }}">
  <div class="game-logo game-logo--{{ page.fileSlug }}">
    {% game_logo page.fileSlug %}
  </div>
</header>

<section class="section section--padded">
  <div class="max-width max-width--medium">
    {{ content }}
  </div>
</section>
